
h1 {
    color: rgba(194, 10, 71, 0.904);

}

.grid img{
    border: 2px solid black;
    border-radius: 50px;
}
.origami{
    
    border-radius: 20px;
    background-color: white;
    width:310px;
    font-family: fantasy;
}

.menu{
    display:flex;
    justify-content: space-between;
    background-color: rgb(15, 15, 15);
    font-size: 19px;
    font-family: fantasy;
    font-weight: 900;
    color: rgb(161,5,57);
}
body{
    background-color: whitesmoke;
}
p,h2{
    text-align: center;
}