

.grid img{
    border: 2px solid black;
    border-radius: 50px;
}
.grid{ display: flex; 
    flex-wrap: wrap;
     font-family: sans-serif; }

.origami{
    
    border-radius: 20px;
    width:310px;
    font-family: fantasy;
    
}

.menu{
    display:flex;
    justify-content: space-between;
    font-size: 19px;
    font-family:sans-serif;
    font-weight: 900;
    color: rgb(59, 27, 38);
  
}

p,h2{
    text-align: center;
}
.bodying,p{
    text-decoration-line: underline;
}